app/src/main/xsd/entry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.gnucash.org/XML/entry" xmlns:bt-prox="http://www.gnucash.org/XML/bt-prox" xmlns:owner="http://www.gnucash.org/XML/owner" xmlns:bgt="http://www.gnucash.org/XML/bgt" xmlns:book="http://www.gnucash.org/XML/book" xmlns:lot="http://www.gnucash.org/XML/lot" xmlns:act="http://www.gnucash.org/XML/act" xmlns:cmdty="http://www.gnucash.org/XML/cmdty" xmlns:addr="http://www.gnucash.org/XML/addr" xmlns:split="http://www.gnucash.org/XML/split" xmlns:vendor="http://www.gnucash.org/XML/vendor" xmlns:entry="http://www.gnucash.org/XML/entry" xmlns:price="http://www.gnucash.org/XML/price" xmlns:recurrence="http://www.gnucash.org/XML/recurrence" xmlns:job="http://www.gnucash.org/XML/job" xmlns:slot="http://www.gnucash.org/XML/slot" xmlns:ts="http://www.gnucash.org/XML/ts" xmlns:order="http://www.gnucash.org/XML/order" xmlns:trn="http://www.gnucash.org/XML/trn" xmlns:cust="http://www.gnucash.org/XML/cust" xmlns:employee="http://www.gnucash.org/XML/employee" xmlns:invoice="http://www.gnucash.org/XML/invoice" xmlns:billterm="http://www.gnucash.org/XML/billterm" xmlns:gnc="http://www.gnucash.org/XML/gnc" xmlns:taxtable="http://www.gnucash.org/XML/taxtable" xmlns:sx="http://www.gnucash.org/XML/sx" xmlns:cd="http://www.gnucash.org/XML/cd" xmlns:bt-days="http://www.gnucash.org/XML/bt-days" xmlns:tte="http://www.gnucash.org/XML/tte">
  <xs:import namespace="http://www.gnucash.org/XML/act" schemaLocation="act.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/addr" schemaLocation="addr.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bgt" schemaLocation="bgt.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/billterm" schemaLocation="billterm.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/book" schemaLocation="book.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bt-days" schemaLocation="bt-days.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bt-prox" schemaLocation="bt-prox.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cd" schemaLocation="cd.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cmdty" schemaLocation="cmdty.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cust" schemaLocation="cust.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/employee" schemaLocation="employee.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/gnc" schemaLocation="gnucash-v2.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/invoice" schemaLocation="invoice.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/job" schemaLocation="job.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/lot" schemaLocation="lot.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/order" schemaLocation="order.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/owner" schemaLocation="owner.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/price" schemaLocation="price.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/recurrence" schemaLocation="recurrence.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/slot" schemaLocation="slot.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/split" schemaLocation="split.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/sx" schemaLocation="sx.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/taxtable" schemaLocation="taxtable.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/trn" schemaLocation="trn.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/ts" schemaLocation="ts.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/tte" schemaLocation="tte.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/vendor" schemaLocation="vendor.xsd"/>
  <xs:element name="guid" type="gnc:guid"/>
  <xs:element name="date" type="gnc:TimeSpec"/>
  <xs:element name="entered" type="gnc:TimeSpec"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="action" type="xs:string"/>
  <xs:element name="notes" type="xs:string"/>
  <xs:element name="qty" type="gnc:GncNumeric"/>
  <xs:element name="i-acct" type="gnc:guid"/>
  <xs:element name="i-price" type="gnc:GncNumeric"/>
  <xs:element name="i-discount" type="gnc:GncNumeric"/>
  <xs:element name="invoice" type="gnc:guid"/>
  <xs:element name="i-disc-type">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="VALUE"/>
        <xs:enumeration value="PERCENT"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="i-disc-how">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="PRETAX"/>
        <xs:enumeration value="POSTTAX"/>
        <xs:enumeration value="SAMETIME"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="i-taxable">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="[01]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="i-taxincluded">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="[01]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="i-taxtable" type="gnc:guid"/>
  <xs:element name="b-acct" type="gnc:guid"/>
  <xs:element name="b-price" type="gnc:GncNumeric"/>
  <xs:element name="bill" type="gnc:guid"/>
  <xs:element name="billable">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="[01]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="billto" type="gnc:OwnerContent"/>
  <xs:element name="b-taxable">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="[01]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="b-taxincluded">
    <xs:simpleType>
      <xs:restriction base="xs:boolean">
        <xs:pattern value="[01]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="b-pay">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="CASH"/>
        <xs:enumeration value="CARD"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="b-taxtable" type="gnc:guid"/>
  <xs:element name="order" type="gnc:guid"/>
</xs:schema>
