app/src/main/xsd/gnucash-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Aug 2012: A RELAX NG Compact schema for gnucash "v2" XML files.
  Copyright (C) 2006 Joshua Sled <jsled@asynchronous.org>
  Copyright (C) 2012 Baptiste Carvello <devel@baptiste-carvello.net>
-->
<!--
  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of
  the License, or (at your option) version 3.
-->
<!--
  This schema is non-normative; files emitted by gnucash <= 2.0 (and perhaps
  later) that do not validate against it likely represent a problem with the
  schema, not the file. The schema was last updated for gnucash trunk, rev 22330.
-->
<!-- http://relaxng.org/compact-tutorial-20030326.html -->
<!-- from write_v2_header in src/backend/xml/io-gncxml-v2.c -->
<!--
  plugins, in order (address, owner, bill-term, customer, employee, entry, invoice,
  job, order, tax-table, vendor)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.gnucash.org/XML/gnc" xmlns:bt-prox="http://www.gnucash.org/XML/bt-prox" xmlns:owner="http://www.gnucash.org/XML/owner" xmlns:bgt="http://www.gnucash.org/XML/bgt" xmlns:book="http://www.gnucash.org/XML/book" xmlns:lot="http://www.gnucash.org/XML/lot" xmlns:act="http://www.gnucash.org/XML/act" xmlns:cmdty="http://www.gnucash.org/XML/cmdty" xmlns:addr="http://www.gnucash.org/XML/addr" xmlns:split="http://www.gnucash.org/XML/split" xmlns:vendor="http://www.gnucash.org/XML/vendor" xmlns:entry="http://www.gnucash.org/XML/entry" xmlns:price="http://www.gnucash.org/XML/price" xmlns:recurrence="http://www.gnucash.org/XML/recurrence" xmlns:job="http://www.gnucash.org/XML/job" xmlns:slot="http://www.gnucash.org/XML/slot" xmlns:ts="http://www.gnucash.org/XML/ts" xmlns:order="http://www.gnucash.org/XML/order" xmlns:trn="http://www.gnucash.org/XML/trn" xmlns:cust="http://www.gnucash.org/XML/cust" xmlns:employee="http://www.gnucash.org/XML/employee" xmlns:invoice="http://www.gnucash.org/XML/invoice" xmlns:billterm="http://www.gnucash.org/XML/billterm" xmlns:gnc="http://www.gnucash.org/XML/gnc" xmlns:taxtable="http://www.gnucash.org/XML/taxtable" xmlns:sx="http://www.gnucash.org/XML/sx" xmlns:cd="http://www.gnucash.org/XML/cd" xmlns:bt-days="http://www.gnucash.org/XML/bt-days" xmlns:tte="http://www.gnucash.org/XML/tte">
  <xs:import namespace="http://www.gnucash.org/XML/act" schemaLocation="act.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/addr" schemaLocation="addr.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bgt" schemaLocation="bgt.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/billterm" schemaLocation="billterm.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/book" schemaLocation="book.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bt-days" schemaLocation="bt-days.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bt-prox" schemaLocation="bt-prox.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cd" schemaLocation="cd.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cmdty" schemaLocation="cmdty.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cust" schemaLocation="cust.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/employee" schemaLocation="employee.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/entry" schemaLocation="entry.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/invoice" schemaLocation="invoice.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/job" schemaLocation="job.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/lot" schemaLocation="lot.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/order" schemaLocation="order.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/owner" schemaLocation="owner.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/price" schemaLocation="price.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/recurrence" schemaLocation="recurrence.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/slot" schemaLocation="slot.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/split" schemaLocation="split.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/sx" schemaLocation="sx.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/taxtable" schemaLocation="taxtable.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/trn" schemaLocation="trn.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/ts" schemaLocation="ts.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/tte" schemaLocation="tte.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/vendor" schemaLocation="vendor.xsd"/>

  <xs:complexType name="count-data">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attributeGroup ref="cd:type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GnuCashXml">
    <xs:choice>
      <xs:sequence>
        <xs:element name="count-data" type="gnc:count-data" default="1"/>
        <xs:element name="book" type="book:Book"/>
      </xs:sequence>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="2" name="count-data" type="gnc:count-data"/>
        <xs:element minOccurs="0" maxOccurs="1" name="commodity" type="cmdty:Commodity"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="act:account"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:element name="gnc-v2" type="gnc:GnuCashXml"/>
  <!-- various patterns -->
  <xs:simpleType name="GncNumeric">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?[0-9]+/-?[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GUID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{32}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TimeSpec">
    <xs:sequence>
      <xs:element ref="ts:date"/>
      <xs:element minOccurs="0" ref="ts:ns"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GDate">
    <xs:sequence>
      <xs:element name="gdate" form="unqualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- from gnc_budget_dom_tree_create in src/backend/xml/gnc-budget-xml-v2.c -->
  <xs:element name="budget">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bgt:id"/>
        <xs:element ref="bgt:name"/>
        <xs:element ref="bgt:description"/>
        <xs:element ref="bgt:num-periods"/>
        <xs:element ref="bgt:recurrence"/>
        <xs:element minOccurs="0" ref="bgt:slots"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="2.0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!-- from job_dom_tree_create in src/backend/xml/gnc-job-xml-v2.c -->
  <xs:element name="GncJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="job:guid"/>
        <xs:element ref="job:id"/>
        <xs:element ref="job:name"/>
        <xs:element minOccurs="0" ref="job:reference"/>
        <xs:element ref="job:owner"/>
        <xs:element ref="job:active"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="2.0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!-- from order_dom_tree_create in src/backend/xml/gnc-order-xml-v2.c -->
  <xs:element name="GncOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="order:guid"/>
        <xs:element ref="order:id"/>
        <xs:element ref="order:owner"/>
        <xs:element ref="order:opened"/>
        <xs:element minOccurs="0" ref="order:closed"/>
        <xs:element minOccurs="0" ref="order:notes"/>
        <xs:element minOccurs="0" ref="order:reference"/>
        <xs:element ref="order:active"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="2.0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!-- from taxtable_dom_tree_create in src/backend/xml/gnc-tax-table-xml-v2.c -->
  <xs:element name="GncTaxTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="taxtable:guid"/>
        <xs:element ref="taxtable:name"/>
        <xs:element ref="taxtable:refcount"/>
        <xs:element ref="taxtable:invisible"/>
        <xs:element minOccurs="0" ref="taxtable:child"/>
        <xs:element minOccurs="0" ref="taxtable:parent"/>
        <xs:element ref="taxtable:entries"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="2.0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!-- from ttentry_dom_tree_create in src/backend/xml/gnc-tax-table-xml-v2.c -->
  <xs:element name="GncTaxTableEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tte:acct"/>
        <xs:element ref="tte:amount"/>
        <xs:element ref="tte:type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- from vendor_dom_tree_create in src/backend/xml/gnc-vendor-xml-v2.c -->
  <xs:element name="GncVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vendor:guid"/>
        <xs:element ref="vendor:name"/>
        <xs:element ref="vendor:id"/>
        <xs:element ref="vendor:addr"/>
        <xs:element minOccurs="0" ref="vendor:notes"/>
        <xs:element minOccurs="0" ref="vendor:terms"/>
        <xs:element ref="vendor:taxincluded"/>
        <xs:element ref="vendor:active"/>
        <xs:element ref="vendor:currency"/>
        <xs:element ref="vendor:use-tt"/>
        <xs:element minOccurs="0" ref="vendor:taxtable"/>
        <xs:element minOccurs="0" ref="vendor:slots"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="2.0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="guid">
    <xs:simpleContent>
      <xs:extension base="gnc:GUID">
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="guid"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="currency">
    <xs:sequence>
      <xs:group ref="cmdty:space1"/>
      <xs:element ref="cmdty:id"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
