app/src/main/xsd/sx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.gnucash.org/XML/sx" xmlns:bt-prox="http://www.gnucash.org/XML/bt-prox" xmlns:owner="http://www.gnucash.org/XML/owner" xmlns:bgt="http://www.gnucash.org/XML/bgt" xmlns:book="http://www.gnucash.org/XML/book" xmlns:lot="http://www.gnucash.org/XML/lot" xmlns:act="http://www.gnucash.org/XML/act" xmlns:cmdty="http://www.gnucash.org/XML/cmdty" xmlns:addr="http://www.gnucash.org/XML/addr" xmlns:split="http://www.gnucash.org/XML/split" xmlns:vendor="http://www.gnucash.org/XML/vendor" xmlns:entry="http://www.gnucash.org/XML/entry" xmlns:price="http://www.gnucash.org/XML/price" xmlns:recurrence="http://www.gnucash.org/XML/recurrence" xmlns:job="http://www.gnucash.org/XML/job" xmlns:slot="http://www.gnucash.org/XML/slot" xmlns:ts="http://www.gnucash.org/XML/ts" xmlns:order="http://www.gnucash.org/XML/order" xmlns:trn="http://www.gnucash.org/XML/trn" xmlns:cust="http://www.gnucash.org/XML/cust" xmlns:employee="http://www.gnucash.org/XML/employee" xmlns:invoice="http://www.gnucash.org/XML/invoice" xmlns:billterm="http://www.gnucash.org/XML/billterm" xmlns:gnc="http://www.gnucash.org/XML/gnc" xmlns:taxtable="http://www.gnucash.org/XML/taxtable" xmlns:sx="http://www.gnucash.org/XML/sx" xmlns:cd="http://www.gnucash.org/XML/cd" xmlns:bt-days="http://www.gnucash.org/XML/bt-days" xmlns:tte="http://www.gnucash.org/XML/tte">
  <xs:import namespace="http://www.gnucash.org/XML/act" schemaLocation="act.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/addr" schemaLocation="addr.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bgt" schemaLocation="bgt.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/billterm" schemaLocation="billterm.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/book" schemaLocation="book.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bt-days" schemaLocation="bt-days.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/bt-prox" schemaLocation="bt-prox.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cd" schemaLocation="cd.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cmdty" schemaLocation="cmdty.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/cust" schemaLocation="cust.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/employee" schemaLocation="employee.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/entry" schemaLocation="entry.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/gnc" schemaLocation="gnucash-v2.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/invoice" schemaLocation="invoice.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/job" schemaLocation="job.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/lot" schemaLocation="lot.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/order" schemaLocation="order.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/owner" schemaLocation="owner.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/price" schemaLocation="price.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/recurrence" schemaLocation="recurrence.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/slot" schemaLocation="slot.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/split" schemaLocation="split.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/taxtable" schemaLocation="taxtable.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/trn" schemaLocation="trn.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/ts" schemaLocation="ts.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/tte" schemaLocation="tte.xsd"/>
  <xs:import namespace="http://www.gnucash.org/XML/vendor" schemaLocation="vendor.xsd"/>
  <xs:element name="id" type="gnc:guid"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="enabled">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="y"/>
        <xs:enumeration value="n"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="autoCreate">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="y"/>
        <xs:enumeration value="n"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="autoCreateNotify">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="y"/>
        <xs:enumeration value="n"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="advanceCreateDays" type="xs:int"/>
  <xs:element name="advanceRemindDays" type="xs:int"/>
  <xs:element name="instanceCount" type="xs:int"/>
  <xs:element name="start" type="gnc:GDate"/>
  <xs:element name="last" type="gnc:GDate"/>
  <xs:element name="num-occur" type="xs:int"/>
  <xs:element name="rem-occur" type="xs:int"/>
  <xs:element name="end" type="gnc:GDate"/>
  <xs:element name="templ-acct" type="gnc:guid"/>
  <xs:element name="schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="gnc:recurrence"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="slots" type="slot:slots"/>
  <xs:element name="deferredInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="sx:last"/>
        <xs:element ref="sx:rem-occur"/>
        <xs:element ref="sx:instanceCount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- from gnc_schedXaction_dom_tree_create in src/backend/xml/gnc-schedxaction-xml-v2.c -->
  <xs:element name="schedxaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sx:id"/>
        <xs:element ref="sx:name"/>
        <xs:element ref="sx:enabled"/>
        <xs:element ref="sx:autoCreate"/>
        <xs:element ref="sx:autoCreateNotify"/>
        <xs:element ref="sx:advanceCreateDays"/>
        <xs:element ref="sx:advanceRemindDays"/>
        <xs:element ref="sx:instanceCount"/>
        <xs:element ref="sx:start"/>
        <xs:element minOccurs="0" ref="sx:last"/>
        <xs:choice minOccurs="0">
          <xs:sequence>
            <xs:element ref="sx:num-occur"/>
            <xs:element ref="sx:rem-occur"/>
          </xs:sequence>
          <xs:element ref="sx:end"/>
        </xs:choice>
        <xs:element ref="sx:templ-acct"/>
        <xs:element ref="sx:schedule"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sx:deferredInstance"/>
        <xs:element minOccurs="0" ref="sx:slots"/>
      </xs:sequence>
      <xs:attribute name="version" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="2.0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
